button {
    border-radius: 8px;
    border: 1px solid rgba(var(--border-rgb), 0.15);
    padding: 0.6em 1.2em;
    margin: 0.5em 0.5em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: var(--background-color);
    cursor: pointer;
}

button:focus,
button:hover {
    border-color: var(--main-color);
    filter: drop-shadow(0 0 .5em rgb(var(--main-color-rgb), 0.5));
    outline: none;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:active {
    transform: scale(0.975);
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#canvas-wrap,
#table-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#table-wrap {
    position: relative;
    /* background-color: var(--background-color);
    border-radius: .5em;
    padding: 1em 1em .35em 1em;
    min-width: 80vw; */
}

#buttons-wrap {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

#no-emails {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table-name {
    text-align: right;
}

#emails-table {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    overflow-y: scroll;
    border-radius: .5em;
    padding: .5em;
    border: 1px solid rgba(var(--border-rgb), 0.15);
    scroll-behavior: smooth;
}

#table-controls {
    padding: .5em;
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
}

@media (prefers-color-scheme: light) {
    #view-table-btn>img {
        content: url("./assets/table-icon-dark.svg");
    }

    #view-graph-btn>img {
        content: url("./assets/graph-icon-dark.svg");
    }

    #add-entry-btn>img {
        content: url("./assets/add-icon-dark.svg");
    }

    #new-sender-btn>img {
        content: url("./assets/new-sender-icon-dark.svg");
    }

    #existing-sender-btn>img {
        content: url("./assets/existing-sender-icon-dark.svg");
    }

    #infected-sender-btn>img {
        content: url("./assets/infected-sender-icon-dark.svg");
    }

    #manage-table-btn>img {
        content: url("./assets/manage-icon-dark.svg");
    }

    #upload-btn>img {
        content: url("./assets/upload-icon-dark.svg");
    }

    #download-btn>img {
        content: url("./assets/download-icon-dark.svg");
    }

    #clear-btn>img {
        content: url("./assets/clear-icon-dark.svg");
    }

    #rename-btn>img {
        content: url("./assets/edit-icon-dark.svg");
    }
}