:root {
  font-family: "Open Sans", Inter, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  color-scheme: light dark;
  --font-color: #f8f8f8;
  --font-color-faded: #b1b1b1;
  color: var(--font-color);
  background-color: #242424;
  
  --border-rgb: 104, 104, 104;
  --border-color: rgb(var(--border-rgb));
  --fill-color: #262626;
  --background-color: #1a1a1a;
  --main-color-rgb: 100, 108, 255;
  --main-color: rgb(var(--main-color-rgb));
  --error-color: rgb(255, 118, 100);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body * {
  transition: all 0.2s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: #213547;
    --font-color-faded: #364858;
    background-color: #ffffff;
    --border-color: #999999;
    --fill-color: #ececec;
    --background-color: #f3f3f3;
  }
}