.email-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: stretch; */
    border-radius: .35em;
    position: relative;
    outline: 1px solid transparent;
    min-height: 5em;
}

.cell {
    position: relative;
    --vert-pad: 1em;
    height: calc(100% - calc(2 * var(--vert-pad)));
    margin: 0 .25em;
    padding: var(--vert-pad) 0;
    display: flex;
    align-items: stretch;
}

.email-row:focus-within {
    min-height: 10em;
}

.email-row:focus-within .cell {
    --vert-pad: 2em;
}

.cell.cell-order {
    height: unset;
    text-align: center;
    width: 2em;
    margin-left: 1em;
    margin-right: 0em;
}

input,
textarea {
    border: none;
    background: none;
    border: 1px solid transparent;
    border-bottom-color: var(--border-color);
    font-family: inherit;
    font-weight: 400;
    resize: none;
    border-radius: .25em;
    /* height: calc(100% - calc(2 * var(--vert-pad))); */
    width: 100%;
}

input:not(:focus-within),
textarea:not(:focus-within) {
    border-bottom-color: rgba(var(--border-rgb), 0.25);
    color: var(--font-color-faded);
}

.email-row:nth-child(odd) {
    background-color: var(--background-color);
}

.email-row:nth-child(even) {
    background-color: var(--fill-color);
}

.email-row.dragging {
    z-index: 1;
    outline: 1px solid var(--border-color);
    box-shadow: inset 0px 0px 10px #ffffff33;
    /* filter: drop-shadow(0 0 .25em rgba(var(--border-rgb), 0.15)); */
    /* TODO: GROW HEIGHT */
}

.email-row.dragging>td>input,
.email-row.dragging>td>textarea {
    color: var(--font-color);
}

.cell-sender,
.cell-recipient,
.cell-order {
    text-align: center;
    width: 12em;
}

.cell-contents {
    padding-left: 1em;
    min-width: 32em;
}

.cell-buttons {
    white-space: nowrap;
}

.highlight-sender:not(.infected) .cell-sender>input {
    color: var(--main-color);
}

.highlight-sender-alt .cell-sender>input {
    color: var(--alt-color);
}

.highlight-recipient .cell-recipient>input {
    color: var(--alt-color);
}

/* .infected .cell-name>input, */
.infected .cell-sender>input,
.infected .cell-recipient>input {
    color: var(--error-color);
}

.row-icon {
    border: 1px solid transparent;
    background-color: var(--background-color);
    padding: .5em;
    margin: 0 .125em;
    border-radius: .5em;
    -webkit-user-drag: none;
    height: 1.35em;
    width: 1.35em;
}

.email-row:nth-child(even) .row-icon {
    background-color: var(--fill-color);
}

.row-icon:focus,
.row-icon:hover {
    border-color: var(--main-color);
    filter: drop-shadow(0 0 .25em rgb(var(--main-color-rgb), 0.75));
    cursor: pointer;
    outline: none;
}

@media (prefers-color-scheme: light) {
    .edit-entry-btn {
        content: url("../../assets/edit-icon-dark.svg");
    }

    .move-entry-btn {
        content: url("../../assets/move-icon-dark.svg");
    }

    .delete-entry-btn {
        content: url("../../assets/delete-icon-dark.svg");
    }
}